.main-page {
  width: 100%;
  padding: 20px;
  background-color: lighten(lightgray, 15%);
  .filters {
    &-line {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      margin-top: 20px;
    }
    &__search-line, &__brand, &__price, &__rating {
      display: flex;
      flex-direction: column;
    }
    &__search-line {
      margin-top: 20px;
    }
    &__brand {
      width: 30%;
      label {
        margin-bottom: 5px;
      }
    }
    &__price {
      width: 30%;
      label {
        padding-bottom: 20px;
      }
    }
    &__rating {
      width: 30%;
      label {
        padding-bottom: 20px;
      }
    }
  }
  .goods {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 40px;
    .item {
      margin: 20px;
    }
  }
  .pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 40px;
  }
}
