.label {
	font-family: 'Roboto';
	font-weight: 500;
	font-size: 13px;
	line-height: 16px;
	color: $color-gray-4;
	&_is-required:after {
		content: ' *';
	}
}
input {
	padding: $x2 $x2;
	min-width: $grid-c * 3 + $grid-s * 2;

	font-family: 'Roboto';
	font-weight: 500;
	font-size: 14px;
	color: $color-black;
	border: 1px solid $color-gray-2;
	border-radius: 2px;
	transition: all 0.2s ease-in-out 0s;
	&[value=""] {
		outline-width: 10px;
		outline-color: pink;
		outline-style: solid;
	}
	&:disabled {
		opacity: 0.3;
	}
	&:hover {
		border-color: $color-gray-3;
	}
	&:focus {
		border-color: $color-blue-1;
	}
}
.placeholder {
	font-family: 'Roboto';
	font-weight: 500;
	font-size: 14px;
	color: $color-gray-3;
}
.caption {
	font-family: 'Roboto';
	font-weight: 500;
	font-size: 12px;
	line-height: 15px;
	color: $color-gray-4;
}
