// measurements
$x1: 5px;
$x2: 10px;
$x3: 15px;
$x4: 20px;
$x5: 25px;

// grids
$grid-c: 72px;
$grid-s: 26px;

// colors
$color-gray-1: #F5F7F8;
$color-gray-2: #D0E1E8;
$color-gray-3: #78909C;
$color-gray-4: #4D5F71;
$color-black: #1D1D1D;

$color-green: #62B862;
$color-red: #D64C4C;
$color-white: #FFFFFF;
$color-blue-1: #3765A4;
$color-blue-2: #5A89D9;
$color-blue-3: #2F5BA9;

$color-menu-bg: #99B2BE;
$color-menu-bg-inside: #88A7B6;
$color-menu-bg-active: #9BB2D1;

$color-island-shadow: rgba(208, 225, 232, 0.25);
